<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="born" class="com.liugs.tool.spring.event.Born">
        <property name="message" value="Hello word!!!"/>
    </bean>

    <bean id="cStartEventHandler" class="com.liugs.tool.spring.event.CStartEventHandler"/>
    <bean id="cStopEventHandler" class="com.liugs.tool.spring.event.CStopEventHandler"/>

    <bean id="customEventHandler" class="com.liugs.tool.spring.event.CustomEventHandler"/>
    <bean id="customEventPublisher" class="com.liugs.tool.spring.event.CustomEventPublisher"/>
</beans>