<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    autowire byName-->
<!--    <bean id="carBean" class="com.liugs.spring.autowire.CarBean" autowire="byName">-->
<!--        <property name="brand" value="Mercedes-Benz"/>-->
<!--    </bean>-->


<!--    autowire byType-->
<!--    <bean id="carBean" class="com.liugs.spring.autowire.CarBean" autowire="byType">-->
<!--        <property name="brand" value="LAMBORGHINI"/>-->
<!--    </bean>-->

<!--    autowire constructor 基于构造函数注入 如果没找到bean 是会抛异常的   -->
    <bean id="carBean" class="com.liugs.tool.spring.autowire.CarBean" autowire="constructor">
        <constructor-arg index="1" value="99323443"/>
        <property name="brand" value="LAMBORGHINI"/>
    </bean>w

    <bean id="wheel" class="com.liugs.tool.spring.autowire.Wheel"/>

</beans>