<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tydic.payment.pay.dao.MerchantPayMethodRelMapper" >
    //一次更新多条数据写法
    <update id="updateByBatch" parameterType="java.util.List">
        update P_REL_MERCHANT_PAY_METHOD
        <trim prefix="set" suffixOverrides=",">
            STATUS =
            <foreach collection="list" item="item" open="case " close=" end,">
                when MERCHANT_ID = #{item.merchantId} AND PAY_METHOD = #{item.payMethod} then #{item.status}
            </foreach>
            UPDATE_OPER_ID =
            <foreach collection="list" item="item" open="case " close=" end,">
                when MERCHANT_ID = #{item.merchantId} AND PAY_METHOD = #{item.payMethod} then
                <choose>
                    <when test="item.updateOperId != null and item.updateOperId !=''">
                        #{item.updateOperId}
                    </when>
                    <otherwise>UPDATE_OPER_ID</otherwise>
                </choose>
            </foreach>
            UPDATE_TIME =
            <foreach collection="list" item="item" open="case " close=" end,">
                when MERCHANT_ID = #{item.merchantId} AND PAY_METHOD = #{item.payMethod} then
                <choose>
                    <when test="item.updateTime != null">
                        #{item.updateTime}
                    </when>
                    <otherwise>UPDATE_TIME</otherwise>
                </choose>
            </foreach>
        </trim>
        <where>
            <foreach collection="list" item="item" open="( " separator=") or (" close=" )">
                MERCHANT_ID = #{item.merchantId} AND PAY_METHOD = #{item.payMethod}
            </foreach>
        </where>
    </update>
</mapper>